html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
     background:url(https://s3.amazonaws.com/codecademy-content/projects/pocketbook/bg.jpg) no-repeat ;
    background-size:cover;
    overflow: auto;
    height: 100%;
}


.container {
  max-width: 940px;
}
/* header */
.header {
    text-align: center;
    border-bottom: 50px;
    
}
.header .container {
    padding: 30px 0;
    border-bottom: 1px solid #e5e5e5;
}
.header img {
    width:100px;
    height:100px;
}
/*  Main */
.main {
    color:white;
    margin:80px 0;
}
.main a{
    background-color: #255946;
    color:white;
    border-radius: 0;
    margin-top:35px;
    border:0;
}
.footer .container{
    
    
    margin-top: 50px;
    text-align: left;
    border-top:1px solid #e5e5e5;
}
.footer p{
    display:inline-block;
    padding:20px;
    color:white;
}